/* You can add global styles to this file, and also import other style files */
@import '~compass-mixins/lib/compass/css3';
@import '../node_modules/compass-mixins/lib/compass/css3/';

body {
    background: #333;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .corazon {
    animation: latido 1s infinite;
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    left: 45%; 
    top: 45%;
    width: 50px;
  }
  
  .corazon:before, .corazon:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
  }
  
  .corazon:before {
    top: -25px;
    left: 0;
  }
  
  .corazon:after {
    left: 25px;
    top: 0;
  }
  
  @keyframes latido {
    0%{
      transform: scale( 2 )
        rotate(-45deg);    
    }
    50%{
      transform: scale( 1 )
        rotate(-45deg);
    }
    0%{
      transform: scale( 2 )
      rotate(-45deg);
    }
  }

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.header-textCard {
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px dotted black;

}