<div class="row">
  <div class="col-lg-4">
    <div class="list-group list-group-horizontal">
      <a (click)="playSound(1)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(2)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(3)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(4)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(5)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(6)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(7)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(8)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(9)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(10)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(11)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(12)" class="list-group-item list-group-item-action"></a>
      <a (click)="playSound(13)" class="list-group-item list-group-item-action black" style="background-color: rgb(37, 37, 37);"></a>
      <a (click)="playSound(14)" class="list-group-item list-group-item-action"></a>
    </div>
  </div>
</div>
