/* You can add global styles to this file, and also import other style files */



html {
    scroll-behavior: smooth;

}
.invisible-custom{
    display: none;
}

.backGR{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(48, 49, 59);
    padding-bottom: 3rem;
}