
<div class="col">
  <div class="row">
      <h4 class="text-center">Después de la tarea</h4>
  </div>
</div>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Comprobar que la situación ya ha sido controlada para que el regreso a casa se realice de manera segura.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="oneForm" id="oneForm1">
        <label class="btn btn-outline-success" for="oneForm1">SI</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm2">
        <label class="btn btn-outline-danger" for="oneForm2">NO</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm3">
        <label class="btn btn-outline-secondary" for="oneForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Ubicar a sus compañeros y regresar acompañados al punto de encuentro establecido, donde puedas iniciar de forma segura el viaje de regreso a casa.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="twoForm" id="twoForm1">
        <label class="btn btn-outline-success" for="twoForm1">SI</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm2">
        <label class="btn btn-outline-danger" for="twoForm2">NO</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm3">
        <label class="btn btn-outline-secondary" for="twoForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Informar a los grupos de whatsapp, supervisores, SST y jefes que iniciara su retorno a casa</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="threeForm" id="threeForm1">
        <label class="btn btn-outline-success" for="threeForm1">SI</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm2">
        <label class="btn btn-outline-danger" for="threeForm2">NO</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm3">
        <label class="btn btn-outline-secondary" for="threeForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Anunciar si se presenta alguna eventualidad durante el retorno a casa</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fourForm" id="fourForm1">
        <label class="btn btn-outline-success" for="fourForm1">SI</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm2">
        <label class="btn btn-outline-danger" for="fourForm2">NO</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm3">
        <label class="btn btn-outline-secondary" for="fourForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>En caso de presentarse eventualidad tener en cuenta las recomendaciones entregadas en el <strong>DURANTE LA TAREA</strong>.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm1">
        <label class="btn btn-outline-success" for="fiveForm1">SI</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm2">
        <label class="btn btn-outline-danger" for="fiveForm2">NO</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm3">
        <label class="btn btn-outline-secondary" for="fiveForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Avisa cuando se te encuentre en tu casa, hospedaje o lugar de residencia.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="sixForm" id="sixForm1">
        <label class="btn btn-outline-success" for="sixForm1">SI</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm2">
        <label class="btn btn-outline-danger" for="sixForm2">NO</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm3">
        <label class="btn btn-outline-secondary" for="sixForm3">N/A</label>
      </div>
    </div>

  </div>
</div>
