
<div class="col">
  <div class="row">
      <h4 class="text-center">Durante la tarea</h4>
  </div>
</div>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Conoce las rutas de las marchas y los horarios</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="oneForm" id="oneForm1">
        <label class="btn btn-outline-success" for="oneForm1">SI</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm2">
        <label class="btn btn-outline-danger" for="oneForm2">NO</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm3">
        <label class="btn btn-outline-secondary" for="oneForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Informe al supervisor o coordinador asignado de tu cuadrilla cuál será tu recorrido y acordar un punto y hora de encuentro, en caso de llegar a separarse</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="twoForm" id="twoForm1">
        <label class="btn btn-outline-success" for="twoForm1">SI</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm2">
        <label class="btn btn-outline-danger" for="twoForm2">NO</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm3">
        <label class="btn btn-outline-secondary" for="twoForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Tener a la mano teléfonos para casos de emergencia médica y legal.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="threeForm" id="threeForm1">
        <label class="btn btn-outline-success" for="threeForm1">SI</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm2">
        <label class="btn btn-outline-danger" for="threeForm2">NO</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm3">
        <label class="btn btn-outline-secondary" for="threeForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Mantener la carga al 100% de la batería de tu teléfono móvil. Puedes llevar una pila externa para estar siempre  en comunicado.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fourForm" id="fourForm1">
        <label class="btn btn-outline-success" for="fourForm1">SI</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm2">
        <label class="btn btn-outline-danger" for="fourForm2">NO</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm3">
        <label class="btn btn-outline-secondary" for="fourForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Procurar tener saldo en tu teléfono móvil para hacer llamadas y enviar mensajes.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm1">
        <label class="btn btn-outline-success" for="fiveForm1">SI</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm2">
        <label class="btn btn-outline-danger" for="fiveForm2">NO</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm3">
        <label class="btn btn-outline-secondary" for="fiveForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Portar de manera visible el carné donde se evidencien los datos de la persona (nombre, cedula, eps, arl y grupo sanguíneo).</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="sixForm" id="sixForm1">
        <label class="btn btn-outline-success" for="sixForm1">SI</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm2">
        <label class="btn btn-outline-danger" for="sixForm2">NO</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm3">
        <label class="btn btn-outline-secondary" for="sixForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Revise que el botiquín de la cuadrilla que se encuentre debidamente dotado con lo necesario en caso de presentarse una emergencia.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm1">
        <label class="btn btn-outline-success" for="sevenForm1">SI</label>

        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm2">
        <label class="btn btn-outline-danger" for="sevenForm2">NO</label>

        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm3">
        <label class="btn btn-outline-secondary" for="sevenForm3">N/A</label>
      </div>
    </div>

  </div>
</div>
