
<div class="col">
  <div class="col">
    <div class="row">
      <p>Conoce las rutas de las marchas y los horarios</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="oneForm" id="oneForm1">
        <label class="btn btn-outline-success" for="oneForm1">SI</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm2">
        <label class="btn btn-outline-danger" for="oneForm2">NO</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm3">
        <label class="btn btn-outline-secondary" for="oneForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Elegir dos contactos de emergencia ya sea un familiar y/o amistad, quienes serán su red de seguridad y que sepan actuar en caso de presentarse una emergencia.</p>
    </div>

    <div class="row ">
      <div class="col">
        <label for="namePerson1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="namePerson1" placeholder="Ingrese el nombre">
      </div>
      <div class="col">
        <label for="telPerson1" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="telPerson1" placeholder="Ingrese el telefono">
      </div>
    </div>
    <div class="row ">
      <div class="col">
        <label for="namePerson2" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="namePerson2" placeholder="Ingrese el nombre">
      </div>
      <div class="col">
        <label for="telPerson2" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="telPerson2" placeholder="Ingrese el telefono">
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Informe al supervisor o coordinador asignado de tu cuadrilla cuál será tu recorrido y acordar un punto y hora de encuentro, en caso de llegar a separarse</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
        <label class="btn btn-outline-success" for="btnradio1">SI</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
        <label class="btn btn-outline-danger" for="btnradio2">NO</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
        <label class="btn btn-outline-secondary" for="btnradio3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

