
<div class="col">
  <div class="row">
      <h4 class="text-center">Antes de la tarea</h4>
  </div>
</div>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Conoce las rutas de las marchas y los horarios</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form1" value=1 name="oneFormBefore" id="oneFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="oneFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form1" value=0 name="oneFormBefore" id="oneFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="oneFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form1" value=2 name="oneFormBefore" id="oneFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="oneFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Elegir dos contactos de emergencia ya sea un familiar y/o amistad, quienes serán su red de seguridad y que sepan actuar en caso de presentarse una emergencia.</p>
    </div>

    <div class="row ">
      <h5>Contacto #1</h5>
      <div class="col">
        <label for="namePerson1" class="formBefore-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="contact1Name" id="namePerson1" placeholder="Ingrese el nombre" (ngModelChange)="submitData()">
      </div>
      <div class="col">
        <label for="telPerson1" class="formBefore-label">Telefono</label>
        <input type="tel" class="form-control" [(ngModel)]="contact1Tel" id="telPerson1" placeholder="Ingrese el telefono" (ngModelChange)="submitData()">
      </div>
    </div>
    <hr>
    <div class="row ">
      <h5>Contacto #2</h5>
      <div class="col">
        <label for="namePerson2" class="formBefore-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="contact2Name" id="namePerson2" placeholder="Ingrese el nombre" (ngModelChange)="submitData()">
      </div>
      <div class="col">
        <label for="telPerson2" class="formBefore-label">Telefono</label>
        <input type="tel" class="form-control" [(ngModel)]="contact2Tel" id="telPerson2" placeholder="Ingrese el telefono" (ngModelChange)="submitData()">
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Informe al supervisor o coordinador asignado de tu cuadrilla cuál será tu recorrido y acordar un punto y hora de encuentro, en caso de llegar a separarse</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form2" value=1 name="twoFormBefore" id="twoFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="twoFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form2" value=0 name="twoFormBefore" id="twoFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="twoFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form2" value=2 name="twoFormBefore" id="twoFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="twoFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Tener a la mano teléfonos para casos de emergencia médica y legal.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form3" value=1 name="threeFormBefore" id="threeFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="threeFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form3" value=0 name="threeFormBefore" id="threeFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="threeFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form3" value=2 name="threeFormBefore" id="threeFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="threeFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Mantener la carga al 100% de la batería de tu teléfono móvil. Puedes llevar una pila externa para estar siempre  en comunicado.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form4" value=1 name="fourFormBefore" id="fourFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="fourFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form4" value=0 name="fourFormBefore" id="fourFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="fourFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form4" value=2 name="fourFormBefore" id="fourFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="fourFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Procurar tener saldo en tu teléfono móvil para hacer llamadas y enviar mensajes.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form5" value=1 name="fiveFormBefore" id="fiveFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="fiveFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form5" value=0 name="fiveFormBefore" id="fiveFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="fiveFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form5" value=2 name="fiveFormBefore" id="fiveFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="fiveFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Portar de manera visible el carné donde se evidencien los datos de la persona (nombre, cedula, eps, arl y grupo sanguíneo).</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form6" value=1 name="sixFormBefore" id="sixFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="sixFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form6" value=0 name="sixFormBefore" id="sixFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="sixFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form6" value=2 name="sixFormBefore" id="sixFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="sixFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Revise que el botiquín de la cuadrilla que se encuentre debidamente dotado con lo necesario en caso de presentarse una emergencia.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form7" value=1 name="sevenFormBefore" id="sevenFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="sevenFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form7" value=0 name="sevenFormBefore" id="sevenFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="sevenFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form7" value=2 name="sevenFormBefore" id="sevenFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="sevenFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Lleve sólo lo necesario: Agua, identificación, dinero en efectivo, contactos de emergencia. Evite portar mochilas grandes, pesadas y bolsas de mano.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form8" value=1 name="eightFormBefore" id="eightFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="eightFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form8" value=0 name="eightFormBefore" id="eightFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="eightFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form8" value=2 name="eightFormBefore" id="eightFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="eightFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Manténgase siempre hidratado</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form9" value=1 name="nineFormBefore" id="nineFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="nineFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form9" value=0 name="nineFormBefore" id="nineFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="nineFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form9" value=2 name="nineFormBefore" id="nineFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="nineFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Manténgase siempre alerta y buscando nuevas rutas de evacuación rápidas y seguras.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form10" value=1 name="tenFormBefore" id="tenFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="tenFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form10" value=0 name="tenFormBefore" id="tenFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="tenFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form10" value=2 name="tenFormBefore" id="tenFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="tenFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>InformBeforee inmediatamente a sus compañeros la ruta de evacuación más segura que identificó.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form11" value=1 name="elevenFormBefore" id="elevenFormBefore1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="elevenFormBefore1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form11" value=0 name="elevenFormBefore" id="elevenFormBefore2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="elevenFormBefore2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form11" value=2 name="elevenFormBefore" id="elevenFormBefore3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="elevenFormBefore3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

