<div class="row align-items-center align-self-center">
  <div class="col-md-3 ">
    <p class="text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/controlclients-5d2b0.appspot.com/o/cash.jpg?alt=media&token=f0093e87-8a81-4420-a7ce-cfd90bc2b190" style="width: 200px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" width="150" alt="">
    </p>
  </div>
  <div class="col-md-6">
    <div class="row"><h1 class="text-center title-header">CAS TECHNOLOGY</h1></div>
    <div class="row"><h4 class="text-center subtitle-header">INSPECCIÓN PREOPERACIONAL DE MOTOCICLETAS</h4></div>
  </div>
  <div class="col-md-3">
    <div class="row"><span class="text-center subtitle-header">CODIGO: F-SST-02</span></div>
    <div class="row"><span class="text-center subtitle-header">FECHA: 02/05/2021</span></div>
    <div class="row"><span class="text-center subtitle-header">VERSION: 0 DE 0</span></div>
  </div>
</div>
<hr>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <label for="city" class="form-label">Ciudad</label>
      <input type="text" class="form-control" [(ngModel)]="city" id="city" placeholder="Cali, Medellin, Bogota, Pereira, Jamundi" (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="campus" class="form-label">Sede</label>
      <input type="text" class="form-control" [(ngModel)]="campus" id="campus" placeholder="Digite la sede" (ngModelChange)="submitData()" required>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <label for="driverName" class="form-label">Nombre del conductor</label>
      <input type="text" class="form-control" [(ngModel)]="driverName" id="driverName" placeholder="Digite el nombre" (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="identification" class="form-label">Cedula</label>
      <input type="text" class="form-control" [(ngModel)]="identification" id="identification" placeholder="Digite la cedula" (ngModelChange)="submitData()" required>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-md-4">
      <label for="position" class="form-label">Cargo</label>
      <input type="text" class="form-control" [(ngModel)]="position" id="position" placeholder="Digite el cargo" (ngModelChange)="submitData()">
    </div>
    <div class="col-md-4">
      <label for="timeInPosition" class="form-label">Antiguedad en el cargo</label>
      <input type="text" class="form-control" [(ngModel)]="timeInPosition" id="timeInPosition" placeholder="Digite su antiguedad" (ngModelChange)="submitData()">
    </div>
    <div class="col-md-4">
      <label for="immediateSupervisor" class="form-label">Jefe inmediato</label>
      <input type="text" id="immediateSupervisor" [(ngModel)]="immediateSupervisor"  class="form-control" placeholder="Digite el nombre" (ngModelChange)="submitData()">
    </div>
  </div>
  
  <hr>
  <hr>

  <h4 class="text-center">INFORMACION DEL VEHICULO</h4>
  
  <div class="row">
    <div class="col-md-6">
      <label for="brand" class="form-label">Marca</label>
      <input type="text" class="form-control" [(ngModel)]="brand" id="brand" placeholder="Digite la marca" (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="model" class="form-label">Modelo</label>
      <input type="text" class="form-control" [(ngModel)]="model" id="model" placeholder="Digite el modelo" (ngModelChange)="submitData()" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="propertyCard" class="form-label">Tarjeta de propiedad</label>
      <input type="text" class="form-control" [(ngModel)]="propertyCard" id="propertyCard" placeholder="Digite la tarjeta de propiedad" (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="licensePlate" class="form-label">Placa</label>
      <input type="text" class="form-control" [(ngModel)]="licensePlate" id="licensePlate" placeholder="Digite la placa" (ngModelChange)="submitData()" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="cylinderCapacity" class="form-label">Cilindraje</label>
      <input type="text" class="form-control" [(ngModel)]="cylinderCapacity" id="cylinderCapacity" placeholder="Digite el cilindraje" (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="ownerName" class="form-label">Propietario de la moto</label>
      <input type="text" class="form-control" [(ngModel)]="ownerName" id="ownerName" placeholder="Digite el propietario de la moto" (ngModelChange)="submitData()" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="yearSOAT" class="form-label">Fecha SOAT</label>
      <input type="date" class="form-control" [(ngModel)]="yearSOAT" id="yearSOAT"  (ngModelChange)="submitData()" required>
    </div>
    <div class="col-md-6">
      <label for="yearRTMG" class="form-label">Fecha de RTMgG</label>
      <input type="date" class="form-control" [(ngModel)]="yearRTMG" id="yearRTMG"  (ngModelChange)="submitData()" required>
    </div>
  </div>