<div class="container">
    <form class="form" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Digite su email" ngModel required size="20">
        </div>
        <div class="input-group">
            <label for="password">Contrasña</label>
            <input type="password" name="password" class="form-control" placeholder="Digite su contraseña" ngModel requiered size="20">
        </div>
        <button type="submit" class="btn btn-outline-light">+</button>
    </form>
</div>