<div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/controlclients-5d2b0.appspot.com/o/cash-blanco.png?alt=media&token=6b51a3db-9b26-4d69-b7f5-b63a5b60ef2f" alt="" class="img img-fluid w-25">
        <form role="form">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
</div>