
<h1>Te quiero</h1>
<div class="corazon"></div>
<!-- <button class="btn btn-primary" (click)="calcTime()" >COMENZAR</button>
<span class="digit" *ngFor="let in of counter(10);let i = index;">{{i}}</span> -->
<div class="row">
  <div class="col">
    <div class="container-card">
      <div class="header-textCard">
        <p class="text-center">ANIO</p>
        <p>{{YearMonth[0]}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container-card">
      <div class="header-textCard">
        <p class="text-center">MESES</p>
        <p>{{YearMonth[1]}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container-card">
      <div class="header-textCard">
        <p class="text-center">DIAS</p>
        <p>{{Time | date:'dd'}}</p>
      </div>
    </div>
  </div>
</div>
<h1>{{Time | date:'hh:mm:ss'}}</h1>

