
  <div class="text-white" *ngFor="let in of counter(10);let i = index;"> {{i}} </div>

<button class="btn btn-primary" (click)="calcTime()" >COMENZAR</button>
<div class="wrapper">
  <div class="time-part-wrapper">
    <div class="time-part hours tens">
      <div class="digit-wrapper">
        <span class="digit">0</span>
          <span class="digit" *ngFor="let item of constructor(10); let i = index">
            {{i}}
          </span>
      </div>
    </div>
    <div class="time-part hours ones">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="time-part-wrapper">
    <div class="time-part minutes tens">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..5).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="time-part minutes ones">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="time-part-wrapper">
    <div class="time-part seconds tens">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..5).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="time-part seconds ones">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="time-part-wrapper">
    <div class="time-part milliseconds hundreds">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="time-part milliseconds tens">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="time-part milliseconds ones">
      <div class="digit-wrapper">
        <span class="digit">0</span>
        <% (-0..9).each do |i| %>
          <span class="digit">
            <%= i %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
