<div class="container">
    <form class="row g-3 p-5" style="background-color: rgba(255, 255, 255, 0.055); border-radius: 2rem;" [formGroup]="formPeople" (ngSubmit)="send()">
        <h1 class="text-white text-center">Crear Interventor</h1>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputName" placeholder="Nombre" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="name">
            <label for="inputName" class="text-white">Nombre</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="imputLastname" placeholder="Apellidos" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="lastname">
            <label for="imputLastname" class="text-white">Apellidos</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputCity" placeholder="Ciudad" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="city">
            <label for="inputCity" class="text-white">Ciudad</label>
        </div>
        <div class="col-md-12 form-floating">
            <textarea type="text" class="form-control border-secondary text-white" id="inputInfo" placeholder="Informacion adicional" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="info"></textarea>
            <label for="inputInfo" class="text-white">Informacion</label>
        </div>

        <div class="w-100 text-center">
            <button class="btn text white btn-lg btn-danger btn-block col-md-2 me-3" [routerLink]="['/']">Volver</button>
            <button type="submit" class="btn text white btn-lg btn-success btn-block col-md-9" [disabled]="!formPeople.valid">Enviar</button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Ciudad</th>
            <th>Informacion</th>
            <th>Estado</th>
            <th>Tarea</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <td>{{ person.name }}</td>
            <td>{{ person.lastname }}</td>
            <td>{{ person.city }}</td>
            <td>{{ person.info }}</td>
            <td>{{ person.state }}</td>
            <td>{{ person.task }}</td>
          </tr>
        </tbody>
      </table> 
</div>