<div class="container">
    <form class="row g-3 p-5" style="background-color: rgba(255, 255, 255, 0.055); border-radius: 2rem;">
        <h1 class="text-white text-center">Create Person</h1>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputName" placeholder="Name" style="background-color: rgba(255, 255, 255, 0.2);">
            <label for="inputName" class="text-white">Name</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="imputLastname" placeholder="Lastname" style="background-color: rgba(255, 255, 255, 0.2);">
            <label for="imputLastname" class="text-white">Lastname</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputCity" placeholder="City" style="background-color: rgba(255, 255, 255, 0.2);">
            <label for="inputCity" class="text-white">City</label>
        </div>
        <div class="col-md-12 form-floating">
            <textarea type="text" class="form-control border-secondary text-white" id="inputInfo" placeholder="Info" style="background-color: rgba(255, 255, 255, 0.2);"></textarea>
            <label for="inputInfo" class="text-white">Info</label>
        </div>

        <div class="w-100 text-center">
            <div class="btn text white btn-lg btn-danger btn-block col-md-2 me-3">Home</div>
            <div class="btn text white btn-lg btn-success btn-block col-md-9">Send Person</div>
        </div>
    </form>
</div>
