
<div class="col">
  <div class="row">
      <h4 class="text-center">Durante la tarea</h4>
  </div>
</div>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Suspender la actividad se  encuentra en peligro de protestas, desmanes, disturbios o asonadas en su zona de trabajo.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form1" value=1 name="oneFormDuring" id="oneFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="oneFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form1" value=0 name="oneFormDuring" id="oneFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="oneFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form1" value=2 name="oneFormDuring" id="oneFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="oneFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Guardar de manera adecuada los equipos y elementos que no esté usando.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form2" value=1 name="twoFormDuring" id="twoFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="twoFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form2" value=0 name="twoFormDuring" id="twoFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="twoFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form2" value=2 name="twoFormDuring" id="twoFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="twoFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Notificar de inmediato a los grupos de whatsapp, supervisores, SST y jefes si tienes algún problema o se siente en peligro</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form3" value=1 name="threeFormDuring" id="threeFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="threeFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form3" value=0 name="threeFormDuring" id="threeFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="threeFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form3" value=2 name="threeFormDuring" id="threeFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="threeFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Evita estar cerca de disturbios y/o manifestaciones.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form4" value=1 name="fourFormDuring" id="fourFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="fourFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form4" value=0 name="fourFormDuring" id="fourFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="fourFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form4" value=2 name="fourFormDuring" id="fourFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="fourFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Preste atención a su alrededor, ¿se mantentiene siempre alerta?.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form5" value=1 name="fiveFormDuring" id="fiveFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="fiveFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form5" value=0 name="fiveFormDuring" id="fiveFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="fiveFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form5" value=2 name="fiveFormDuring" id="fiveFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="fiveFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Avisar los abusos de autoridad, si detectas alguno, desde una distancia prudente.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form6" value=1 name="sixFormDuring" id="sixFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="sixFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form6" value=0 name="sixFormDuring" id="sixFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="sixFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form6" value=2 name="sixFormDuring" id="sixFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="sixFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>En caso de extrema necesidad buscar refugio en algún establecimiento cercano e informDuringar su ubicación.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" [(ngModel)]="form7" value=1 name="sevenFormDuring" id="sevenFormDuring1" (ngModelChange)="submitData()">
        <label class="btn btn-outline-success" for="sevenFormDuring1">SI</label>

        <input type="radio" class="btn-check" [(ngModel)]="form7" value=0 name="sevenFormDuring" id="sevenFormDuring2" (ngModelChange)="submitData()">
        <label class="btn btn-outline-danger" for="sevenFormDuring2">NO</label>

        <input type="radio" class="btn-check" [(ngModel)]="form7" value=2 name="sevenFormDuring" id="sevenFormDuring3" (ngModelChange)="submitData()">
        <label class="btn btn-outline-secondary" for="sevenFormDuring3">N/A</label>
      </div>
    </div>

  </div>
</div>
