
<div class="col">
  <div class="row">
      <h4 class="text-center">Durante la tarea</h4>
  </div>
</div>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Suspender la actividad se  encuentra en peligro de protestas, desmanes, disturbios o asonadas en su zona de trabajo.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="oneForm" id="oneForm1">
        <label class="btn btn-outline-success" for="oneForm1">SI</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm2">
        <label class="btn btn-outline-danger" for="oneForm2">NO</label>

        <input type="radio" class="btn-check" name="oneForm" id="oneForm3">
        <label class="btn btn-outline-secondary" for="oneForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Guardar de manera adecuada los equipos y elementos que no esté usando.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="twoForm" id="twoForm1">
        <label class="btn btn-outline-success" for="twoForm1">SI</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm2">
        <label class="btn btn-outline-danger" for="twoForm2">NO</label>

        <input type="radio" class="btn-check" name="twoForm" id="twoForm3">
        <label class="btn btn-outline-secondary" for="twoForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Notificar de inmediato a los grupos de whatsapp, supervisores, SST y jefes si tienes algún problema o se siente en peligro</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="threeForm" id="threeForm1">
        <label class="btn btn-outline-success" for="threeForm1">SI</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm2">
        <label class="btn btn-outline-danger" for="threeForm2">NO</label>

        <input type="radio" class="btn-check" name="threeForm" id="threeForm3">
        <label class="btn btn-outline-secondary" for="threeForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Evita estar cerca de disturbios y/o manifestaciones.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fourForm" id="fourForm1">
        <label class="btn btn-outline-success" for="fourForm1">SI</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm2">
        <label class="btn btn-outline-danger" for="fourForm2">NO</label>

        <input type="radio" class="btn-check" name="fourForm" id="fourForm3">
        <label class="btn btn-outline-secondary" for="fourForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Preste atención a su alrededor, ¿se mantentiene siempre alerta?.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm1">
        <label class="btn btn-outline-success" for="fiveForm1">SI</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm2">
        <label class="btn btn-outline-danger" for="fiveForm2">NO</label>

        <input type="radio" class="btn-check" name="fiveForm" id="fiveForm3">
        <label class="btn btn-outline-secondary" for="fiveForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>Avisar los abusos de autoridad, si detectas alguno, desde una distancia prudente.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="sixForm" id="sixForm1">
        <label class="btn btn-outline-success" for="sixForm1">SI</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm2">
        <label class="btn btn-outline-danger" for="sixForm2">NO</label>

        <input type="radio" class="btn-check" name="sixForm" id="sixForm3">
        <label class="btn btn-outline-secondary" for="sixForm3">N/A</label>
      </div>
    </div>

  </div>
</div>

<hr>

<div class="col">
  <div class="col">
    <div class="row">
      <p>En caso de extrema necesidad buscar refugio en algún establecimiento cercano e informar su ubicación.</p>
    </div>

    <div class="row ">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm1">
        <label class="btn btn-outline-success" for="sevenForm1">SI</label>

        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm2">
        <label class="btn btn-outline-danger" for="sevenForm2">NO</label>

        <input type="radio" class="btn-check" name="sevenForm" id="sevenForm3">
        <label class="btn btn-outline-secondary" for="sevenForm3">N/A</label>
      </div>
    </div>

  </div>
</div>
