/* You can add global styles to this file, and also import other style files */

body{
    background: linear-gradient(64deg, #00c6fb 0%, #005bea 100%) no-repeat ;
    height: 200vh;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-custom{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.699);
    padding: 3rem;
    border-radius: 30px;
    border: 5px solid #fff; 
    margin: 1rem;
    width: 100%
}


$primary: #ffffff;
$secondary: #ffffff;
$white: #fff;
$gray: #ffffff;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

.center-absCus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white
}