<div class="container">
    <form class="row g-3 p-5" style="background-color: rgba(255, 255, 255, 0.055); border-radius: 2rem;" [formGroup]="formTask" (ngSubmit)="send()">
        <h1 class="text-white text-center">Crear Tarea</h1>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputName" placeholder="Nombre" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="name">
            <label for="inputName" class="text-white">Nombre</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="time" class="form-control border-secondary text-white" id="imputWorkTime" placeholder="Tiempo de la tarea" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="timeTask">
            <label for="imputWorkTime" class="text-white">Tiempo de la tarea</label>
        </div>
        <div class="col-md-12 form-floating">
            <input type="text" class="form-control border-secondary text-white" id="inputDescription" placeholder="Descripcion" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="description">
            <label for="inputDescription" class="text-white">Descripcion</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="date" class="form-control border-secondary text-white" id="inputInitDate" placeholder="Fecha de inicio" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="dateInit">
            <label for="inputInitDate" class="text-white">Fecha de inicio</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="date" class="form-control border-secondary text-white" id="inputFinishDate" placeholder="Fecha de finalizacion" style="background-color: rgba(255, 255, 255, 0.2);" formControlName="dateFinish">
            <label for="inputFinishDate" class="text-white">Fecha de finalizacion</label>
        </div>

        <div class="w-100 text-center">
            <div class="btn text white btn-lg btn-danger btn-block col-md-2 me-3" [routerLink]="['/']" >Volver</div>
            <button type="submit" [disabled]="!formTask.valid" class="btn text white btn-lg btn-success btn-block col-md-9">Enviar</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="col">
        <div class="row" *ngFor="let task of tasks; let i=index">
            <h1>{{ task.name }}</h1>

        </div>
    </div>
</div>
