<form [formGroup]="formWork">
  <input type="text" formControlName="name">
  <input type="number" formControlName="yearsOld">
  <input type="text" formControlName="email">
  <input type="number" formControlName="tel">
<!-- genre -->
</form>

<form [formGroup]="formSon">
  <input type="text" formControlName="name">
  <input type="number" formControlName="yearsOld">
  <input type="checkbox" formControlName="activity" value="Study"> 
  <input type="checkbox" formControlName="activity" value="Deport"> 
  <input type="checkbox" formControlName="activity" value="Drawing">  
</form>

<p>Diferencia: {{formWork.value.yearsOld - formSon.value.yearsOld}}</p>

<p>
  El empleado {{formWork.value.name}} con la edad {{formWork.value.yearsOld}} años, su correo es {{formWork.value.email}} con el telefono {{formWork.value.tel}} y su genero es {{formWork.value.genre}}
</p>