<div class="row">
  <p class="text-center subtitle-header-more">Tu seguridad y la de tus compañeros son lo más importante. Para protegerte de manera integral incluye aspectos físicos, digitales y colectivos.</p>
</div>

<hr>

<div class="row">
  <div class="col">
    <label for="Empresa" class="form-label">Empresa</label>
    <input type="email" class="form-control" id="Empresa" placeholder="CAS TECHNOLOGY S.A.S" disabled>
  </div>
  <div class="col">
    <label for="Ciudad" class="form-label">Ciudad</label>
    <input type="email" class="form-control" id="Ciudad" placeholder="Cali, Medellin, Bogota, Pereira, Jamundi">
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <select class="form-select" aria-label="Default select example">
      <option selected>Seleccione una opción</option>
      <option value="1">Diseño</option>
      <option value="2">Interventoría</option>
      <option value="3">Construcción</option>
    </select>
  </div>
  <div class="col">
    <label for="date-picker">Feche de ejecución</label>
  </div>
</div>


