<div class="row">
  <p class="text-center subtitle-header-more">Tu seguridad y la de tus compañeros son lo más importante. Para protegerte de manera integral incluye aspectos físicos, digitales y colectivos.</p>
</div>

<hr>

<div class="row">
  <div class="col">
    <label for="enterprise" class="form-label">Empresa</label>
    <input type="email" class="form-control" id="enterprise" placeholder="CAS TECHNOLOGY S.A.S" disabled>
  </div>
  <div class="col">
    <label for="city" class="form-label">Ciudad</label>
    <input type="email" class="form-control" id="city" placeholder="Cali, Medellin, Bogota, Pereira, Jamundi">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">
    <label for="typeWork" class="form-label">Feche de ejecución</label>
    <select class="form-select" id="typeWork">
      <option selected>Seleccione una opción</option>
      <option value="1">Diseño</option>
      <option value="2">Interventoría</option>
      <option value="3">Construcción</option>
    </select>
  </div>
  <div class="col-6">
    <label for="datePicker" class="form-label">Feche de ejecución</label>
    <input type="date" class="form-control" id="dataPicker" placeholder="dd/mm/yyyy">
  </div>
</div>

<hr>

<div class="row">
  <label for="nameProyect" class="form-label">Nombre del proyecto</label>
  <input type="text" class="form-control" id="nameProyect" placeholder="Digite el nombre del proyecto">
</div>

<hr>

<div class="row align-items-center ">
  <div class="col-6">
    <label for="timeInit" class="form-label">Hora de inicio</label>
    <input type="time" id="timeInit" class="form-control">
  </div>
  <div class="col-6">
    <label for="timeFinish" class="form-label">Hora de finalización</label>
    <input type="time" id="timeFinish" class="form-control">
  </div>
</div>

<hr>
