

<div class="flexbox">
    <div class="card-group">

        <div class="card text-center m-5 rounded-lg  " style="width: 300px;  box-shadow: rgba(0, 0, 0, 0.80) 0px 22px 70px 4px;">
            <p class="text-center">
                <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/controlclients-5d2b0.appspot.com/o/formImg.png?alt=media&token=ca32b45e-e21f-404b-a5c9-61786b9fea4b"  style="height: 100%; width: 100%;" alt="">
            </p>
            <div class="card-body">
                <h4 class="card-title">FORMULARIO</h4>
                <p class="card-text">LISTA DE CHEQUEO ORDEN PUBLICO</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg w-100" [routerLink]="['/form-one']"  >CONTINUAR</button>
            </div>
        </div>
        <div class="card text-center m-5 rounded-lg  " style="width: 300px;  box-shadow: rgba(0, 0, 0, 0.80) 0px 22px 70px 4px;">
            <p class="text-center">
                <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/controlclients-5d2b0.appspot.com/o/formImg.png?alt=media&token=ca32b45e-e21f-404b-a5c9-61786b9fea4b"  style="height: 100%; width: 100%;" alt="">
            </p>
            <div class="card-body">
                <h4 class="card-title">FORMULARIO</h4>
                <p class="card-text">INSPECCIÓN PREOPERACIONAL DE MOTOCICLETAS</p>
            </div>
            <div class="card-footer">

                <!-- <button class="btn btn-primary btn-lg w-100" [routerLink]="['/form-two']">Continuar</button> -->
                <button class="btn btn-secondary btn-lg w-100" disabled>NO DISPONIBLE</button>
            </div>
        </div>
        <div class="card text-center m-5 rounded-lg  " style="width: 300px;  box-shadow: rgba(0, 0, 0, 0.80) 0px 22px 70px 4px;">
            <p class="text-center">
                <img class="card-img-top p-3" src="https://us.123rf.com/450wm/designtools/designtools1811/designtools181103784/111593992-apague-el-icono-sobre-un-fondo-blanco-s%C3%ADmbolo-de-apagado-aislado-con-estilo-plano-.jpg?ver=6"  style="height: 100%; width: 100%;" alt="">
            </p>
            <div class="card-body">
                <h4 class="card-title">CERRAR SESION</h4>
                <div class="card-text">ENTRA CON OTRA CUENTA</div>
            </div>
            <div class="card-footer">

                <button class="btn btn-danger btn-lg w-100" (click)="signOut()">CONTINUAR</button>
            </div>
        </div>

    </div>
</div>