<div class="container">
    <form class="form" #f="ngForm" (ngSubmit)="f.form.valid && register(f)">
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control bg-transparent border-success text-white-50" placeholder="Digite su email" ngModel required size="20">
        </div>
        <div class="form-group col">
            <label for="password">Contrasña</label>
            <input type="password" name="pass" class="form-control bg-transparent border-success text-white-50" placeholder="Digite su contraseña" ngModel requiered size="20">
        </div>
        <div class="form-group col">
            <label for="password">Confirmar contrasña</label>
            <input type="password" name="passConfirm" class="form-control bg-transparent border-success text-white-50" placeholder="Digite su contraseña" ngModel requiered size="20">
        </div>
        <button type="submit" class="btn btn-outline-success col">Register</button>
    </form>
</div>