
<div class="mx-auto my-auto" style="width: 500px;">
  <div class="container mt-5 shadow-lg p-5 ">
    <h1 class="text-center">Formulario</h1>
    <form action="" class="" >
      <div class="col">
        <div class="col form-group">
          <label>Nombre</label>
          <input type="text"
            class="form-control" placeholder="Introduce el Nombre">
        </div>
        <div class="col form-group">
          <label>Correo</label>
          <input type="email"
            class="form-control" placeholder="Introduce el correo">
        </div>
        <div class="col form-group">
          <label>Contrasena</label>
          <input type="password"
            class="form-control" placeholder="Introduce la contrasena">
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block mt-4">Agregar</button>
    </form>
  </div>
</div>
