
<div class="mx-auto my-5" style="width: 500px;">
  <div class="card">
    <div class="container mt-5 shadow-lg p-5 ">
      <h1 class="text-center">Forms</h1>

      <form [formGroup]="formCreate" action="" class="" >
        <div class="col">
          <div class="col form-group has-success">
            <label>Name</label>
              <input type="text" class="form-control" placeholder="Input your name" formControlName="name">
              <div class="invalid-feedback">Name is requiered</div>
              <div class="valid-feedback">Success!</div>
            </div>
            <div class="col form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Input your email" formControlName="email" >
              <div class="invalid-feedback">Email is requiered?</div>
              <div class="invalid-feedback">Email is don`t valid?</div>
              <div class="valid-feedback">Success!</div>
            </div>
            <div class="col form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Input your password" formControlName="password" >
              <div class="invalid-feedback">Password is requiered</div>
              <div class="invalid-feedback">The length must be more than 8 characters</div>
              <div class="valid-feedback">Success!</div>
          </div>
        </div>
        <button type="button" class="btn btn-dark btn-block mt-4" (click)="submit()">Submit</button>
      </form>

    </div>
  </div>
</div>
