
<div class="mx-auto my-5" style="width: 500px;">
  <div class="card">
    <div class="container mt-5 shadow-lg p-5 ">
      <h1 class="text-center">Forms</h1>

      <form [formGroup]="formCreate" action="" class="" >
        <div class="col">
          <div class="col form-group has-success">
            <label>Name</label>
              <input type="text" class="form-control" placeholder="Input your name" formControlName="name" [ngClass]="{'is-valid': formCreate.controls.name.dirty && formCreate.controls.name.valid, 'is-invalid': formCreate.controls.name.dirty && !formCreate.controls.name.valid }">
              <div class="invalid-feedback" *ngIf="formCreate.controls.name.errors?.required" >Name is requiered</div>
              <div class="valid-feedback">Success!</div>
            </div>
            <div class="col form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Input your email" formControlName="email" [ngClass]="{ 'is-valid': formCreate.controls.email.dirty && formCreate.controls.email.valid, 'is-invalid': formCreate.controls.email.dirty && !formCreate.controls.email.valid }" >
              <div class="invalid-feedback" *ngIf="formCreate.controls.email.errors?.required">Email is requiered</div>
              <div class="invalid-feedback" *ngIf="formCreate.controls.email.errors?.email">Email is don`t valid</div>
              <div class="valid-feedback">Success!</div>
            </div>
            <div class="col form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Input your password" formControlName="password" [ngClass]="{ 'is-valid': formCreate.controls.password.dirty && formCreate.controls.password.valid, 'is-invalid': formCreate.controls.password.dirty && !formCreate.controls.password.valid }">
              <div class="invalid-feedback" *ngIf="formCreate.controls.password.errors?.required ">Password is requiered</div>
              <div class="invalid-feedback" *ngIf="formCreate.controls.password.errors?.minlength">The length must be more than 8 characters</div>
              <div class="valid-feedback">Success!</div>
          </div>
        </div>
        <button [disabled]="!formCreate.valid" type="button" class="btn btn-success btn-block mt-4" (click)="submit()">Submit</button>
        <button [disabled]="!formCreate.valid" type="button" class="btn btn-info btn-block mt-4" (click)="submit()">Edit</button>
      </form>

    </div>
  </div>
</div>


<div class="card mx-auto my-4 shadow" style="width: 350px;" *ngFor="let person of persons; let i = index">
  <div class="card-body">
    <h5 class="card-title text-center">{{ person.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center"> {{ person.password}} </h6>
    <p class="card-text text-center"> {{ person.email }} </p>
    <button class="btn btn-info btn-block" (click)="edit(i)"> Editar </button>
  </div>
</div>
