
<div class="w-100 vh-100">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="row">
            <div class="col-4">
                <label class="field field_v2">
                    <input class="field__input" placeholder="e.g. Melnikov">
                    <span class="field__label-wrap">
                        <span class="field__label">Last name</span>
                    </span>
                </label>    
            </div>
            <div class="col-4">
                <label class="field field_v2">
                    <input class="field__input" placeholder="e.g. Melnikov">
                    <span class="field__label-wrap">
                        <span class="field__label">Last name</span>
                    </span>
                </label>    
            </div>
            <div class="col-4">
    
            </div>
        </div>
    </div>
</div>