/* You can add global styles to this file, and also import other style files */
.title-header {
  font-size: 1em;
}
.subtitle-header {
  font-size: 0.5em;
}

.subtitle-header-more {
  font-size: 0.8em;
}

canvas {
  width: 500px;
  height: 500px;
  background-color: #0D0909;
}

@media (min-width: 768px) {
  .title-header {
    font-size: 1.5em;
  }
  .subtitle-header {
    font-size: 1em;
  }
  .subtitle-header-more {
    font-size: 1em;
  }
}
