

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CASCO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Head" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Head" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Head" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Head" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Head" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Head" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Head" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Head" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsHead" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsHead" id="observationsHead" class="form-control"></textarea>
        <hr>
        <hr>
    </div>



</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">IMPERMEABLE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Impermeable" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Impermeable" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Impermeable" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Impermeable" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Impermeable" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Impermeable" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Impermeable" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Impermeable" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsImpermeable" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsImpermeable" id="observationsImpermeable" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">GAFAS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Glasses" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Glasses" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Glasses" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Glasses" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Glasses" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Glasses" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Glasses" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Glasses" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationGlasses" class="form-label">OBSERVACIONES</label>
        <textarea name="observationGlasses" id="observationGlasses" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CHALECO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Jacket" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Jacket" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Jacket" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Jacket" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Jacket" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Jacket" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Jacket" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Jacket" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsJacket" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsJacket" id="observationsJacket" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">NIVEL DE ACEITE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1OilLevel" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1OilLevel" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2OilLevel" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2OilLevel" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3OilLevel" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3OilLevel" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4OilLevel" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4OilLevel" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsOilLevel" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsOilLevel" id="observationsOilLevel" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">MANILARES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Handlebars" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Handlebars" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Handlebars" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Handlebars" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Handlebars" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Handlebars" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Handlebars" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Handlebars" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsHandlebars" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsHandlebars" id="observationsHandlebars" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">DIRECCION</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Direction" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Direction" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Direction" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Direction" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Direction" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Direction" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Direction" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Direction" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsDirection" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsDirection" id="observationsDirection" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">GUARDABARROS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1MudGuard" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1MudGuard" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2MudGuard" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2MudGuard" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3MudGuard" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3MudGuard" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4MudGuard" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4MudGuard" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsMudGuard" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsMudGuard" id="observationsMudGuard" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CHASIS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Chassis" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Chassis" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Chassis" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Chassis" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Chassis" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Chassis" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Chassis" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Chassis" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsChassis" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsChassis" id="observationsChassis" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">SUSPENSION</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="selectWeek1Suspension" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="selectWeek1Suspension" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek2Suspension" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="selectWeek2Suspension" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek3Suspension" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="selectWeek3Suspension" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="selectWeek4Suspension" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="selectWeek4Suspension" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="observationsSuspension" class="form-label">OBSERVACIONES</label>
        <textarea name="observationsSuspension" id="observationsSuspension" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">FRENOS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <h3 class="text-center">LLANTAS CON BUEN LABRADO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">PRESION ADECUADA DE LAS LLANTAS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">RINES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">TREN DE ARRASTRE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">EXOSTO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">RETROVISORES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">MANTENIMIENTO MECANICO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">LAS LUCES ALTAS Y BAJAS OPERAN NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">LAS DIRECCIONALES Y EL STOP OPERAN NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">EL PITO OPERA NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">COMBUSTIBLE SUFICIENTE PARA EL RECORRIDO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>
