

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CASCO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>



</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">IMPERMEABLE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">GAFAS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CHALECO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">NIVEL DE ACEITE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">MANILARES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">DIRECCION</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">GUARDABARROS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">CHASIS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">SUSPENSION</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">FRENOS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <h3 class="text-center">LLANTAS CON BUEN LABRADO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">PRESION ADECUADA DE LAS LLANTAS</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">RINES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">TREN DE ARRASTRE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">EXOSTO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">RETROVISORES</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">MANTENIMIENTO MECANICO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">LAS LUCES ALTAS Y BAJAS OPERAN NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">LAS DIRECCIONALES Y EL STOP OPERAN NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">EL PITO OPERA NORMALMENTE</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">COMBUSTIBLE SUFICIENTE PARA EL RECORRIDO</h3>
        <hr>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 1</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 2</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 3</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="select" class="form-label">SEMANA 4</label>
        <select class="form-select form-control" id="select" aria-label="Default select example">
            <option selected>SELECCIONA UNA OPCION</option>
            <option value="1">BUENO</option>
            <option value="2">MALO</option>
            <option value="3">REGULAR</option>
            <option value="4">N/A</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <label for="select" class="form-label">OBSERVACIONES</label>
        <textarea name="" id="" class="form-control"></textarea>
        <hr>
        <hr>
    </div>
</div>
