<div class="container">
    <form class="form-row" #f="ngForm" (ngSubmit)="f.form.valid && addPersona()">
        <div class="form-group col-md-2 ">
            <label for="nombre" class="sr-only">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Digite el nombre"
                class="form-control bg-transparent border-success text-white-50" [(ngModel)]="nameInput" required>
        </div>
        <div class="form-group col-md-2 ">
            <label for="apellido" class="sr-only">Apellido</label>
            <input type="text" name="apellido" id="apellido" placeholder="Digite el apellido"
                class="form-control bg-transparent border-success text-white-50" #lastNameInput required>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-success" >Agregar</button>
        </div>
    </form>
</div>