<div class="row">
  <p class="text-center subtitle-header-more">Tu seguridad y la de tus compañeros son lo más importante. Para protegerte de manera integral incluye aspectos físicos, digitales y colectivos.</p>
</div>

<hr>

<div class="row">
  <div class="col">
    <label for="enterprise" class="form-label">Empresa</label>
    <input type="email" class="form-control" id="enterprise" placeholder="CAS TECHNOLOGY S.A.S" disabled>
  </div>
  <div class="col">
    <label for="city" class="form-label">Ciudad</label>
    <input type="text" class="form-control" [(ngModel)]="cityForm" id="city" placeholder="Cali, Medellin, Bogota, Pereira, Jamundi" (ngModelChange)="submitData()" required>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">
    <label for="typeWork" class="form-label">Área/Proceso</label>
    <select class="form-select" [(ngModel)]="processForm"  id="typeWork" (ngModelChange)="submitData()">
      <option selected value="0">Seleccione una opción</option>
      <option value="Diseño">Diseño</option>
      <option value="Interventoría">Interventoría</option>
      <option value="Construcción">Construcción</option>
    </select>
  </div>
  <div class="col-6">
    <label for="datePicker" class="form-label">Feche de ejecución</label>
    <input type="date" class="form-control" [(ngModel)]="dateInitForm"  id="dataPicker" placeholder="dd/mm/yyyy" (ngModelChange)="submitData()">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-6">
    <label for="nameProyect" class="form-label">Nombre del proyecto</label>
    <input type="text" class="form-control" [(ngModel)]="nameProjectForm" id="nameProyect" placeholder="Digite el nombre del proyecto" (ngModelChange)="submitData()">
  </div>
  <div class="col-6">
    <label for="namePerson" class="form-label">Nombre del contratista</label>
    <input type="text" class="form-control" [(ngModel)]="namePersonForm" id="namePerson" placeholder="Nombre del contratista" (ngModelChange)="submitData()">
  </div>
</div>

<hr>

<div class="row align-items-center ">
  <div class="col-6">
    <label for="timeInit" class="form-label">Hora de inicio</label>
    <input type="time" id="timeInit" [(ngModel)]="timeInitForm"  class="form-control" (ngModelChange)="submitData()">
  </div>
  <div class="col-6">
    <label for="timeFinish" class="form-label">Hora de finalización</label>
    <input type="time" id="timeFinish" [(ngModel)]="timeFinishForm" class="form-control" (ngModelChange)="submitData()">
  </div>
</div>

<hr>
