<div class="container">
  <h1>{{title}}</h1>
  <form >
    <div class="form-group">
      <label>Numero A</label>
      <input type="number" class="form-control" placeholder="Ingresa el primer numero" [(ngModel)]="num1" name="num1">
    </div>
    <div class="form-group">
      <label>Numero B</label>
      <input type="number" class="form-control" placeholder="Ingresa el segundo numero" [(ngModel)]="num2" name="num2">
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)="sumar()">Sumar</button>
  </form>
  <p>{{result}}</p>
</div>
