<form (ngSubmit)="f.form.valid && addValue()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select [ngClass]="{redfocus: type=='egresoOperation'}" (change)="typeOperation($event)"  class="agregar_tipo">
                <option value="ingresoOperation" selected>+</option>
                <option value="egresoOperation">-</option>
            </select>
            <input required [ngClass]="{redfocus: type=='egresoOperation'}" type="text" name="description" [(ngModel)]="description" class="agregar_descripcion" placeholder="Agregar Descripción">
            <input required [ngClass]="{redfocus: type=='egresoOperation'}" type="number" name="value" [(ngModel)]="value"  class="agregar_valor" placeholder="Valor">
            <button type="submit" class="agregar_btn">
                <i [ngClass]="{red: type=='egresoOperation'}" class="ion-ios-checkmark-outline"></i></button>
        </div>
    </div>
</form>