<div class="row align-items-center align-self-center">
  <div class="col-md-3 ">
    <p class="text-center">
      <img src="https://firebasestorage.googleapis.com/v0/b/controlclients-5d2b0.appspot.com/o/cash.jpg?alt=media&token=f0093e87-8a81-4420-a7ce-cfd90bc2b190" style="width: 200px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" width="150" alt="">
    </p>
  </div>
  <div class="col-md-6">
    <div class="row"><h1 class="text-center title-header">CAS TECHNOLOGY</h1></div>
    <div class="row"><h4 class="text-center subtitle-header">LISTA DE CHEQUEO ORDEN PUBLICO</h4></div>
  </div>
  <div class="col-md-3">
    <div class="row"><span class="text-center subtitle-header">Version 03</span></div>
    <div class="row"><span class="text-center subtitle-header">Fecha: 16/06/2021</span></div>
  </div>
</div>
<hr>

