<div class="backGR">

  <div class="container">
      <div class="row">
          <button class="col-md-5 btn btn-warning btn-lg" [routerLink]="['/people']">+ Anadir Interventor</button>
          <button class="btn text-white btn-lg col-md-2"  style="background-color: rgba(255, 255, 255, 0.2);"  (click)="singOut()">Cerrar sesion</button>
          <button class="col-md-5 btn btn-info btn-lg" [routerLink]="['/tasks']">+ Anadir Tarea</button>
      </div>
  
      <div class="col">
          <div class="row" ></div>
      </div>
  </div>
  <div class="container table-custom mt-5 p-5 mb-5">
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Estado</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons; let i=index" [ngClass]="{'invisible': person.id == ''}">
                <td>{{ person.name }}</td>
                <td>{{person.lastname}}</td>
                <td *ngIf="person.state == 0" class="text-white bg-success">Disponible</td>
                <td *ngIf="person.state == 1" class="text-white bg-danger">Ocupado</td>
                <td *ngIf="person.state == 2" class="text-white bg-warning">Otro</td>
                <ng-container *ngIf="person.task == ''; else actionData">
                  <div  class="text-center">    
                      <ng-select2 class="btn" [(ngModel)]="valueSelect[i]" [data]="selectData" placeholder="Selecciona una tarea" width="300" [options]="options"></ng-select2>
                      <button class="btn btn-success me-2" (click)="assingTask(person.id, i)">Asignar</button></div>
                </ng-container>
                <ng-template #actionData>
                  <div  class="text-center"> <button class="btn btn-primary me-2" (click)="infoTask(person.task, i)" data-bs-toggle="modal" data-bs-target="#infoModal">Detalles</button> <button class="btn btn-danger" (click)="desassingTask(person.id, i)">Desasignar</button> </div>
                </ng-template>
                <td class="" style="display: none;">{{ searchTask(person.task) }}</td>
            </tr>
          </tbody>
        </table> 
  </div>
  <!-- Modal -->
  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Detalles</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
              <h4 class="text-center">Interventor</h4>
              <table class="table table-bordered table-striped table-hover" >
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Ciudad</th>
                    <th>Informacion</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr [ngClass]="{'invisible': personInfo.id == ''}">
                    <td>{{ personInfo.name }}</td>
                    <td>{{ personInfo.lastname }}</td>
                    <td>{{ personInfo.city }}</td>
                    <td>{{ personInfo.info }}</td>
                    <td *ngIf="personInfo.state == 0" class="text-white bg-success">Disponible</td>
                    <td *ngIf="personInfo.state == 1" class="text-white bg-danger">Ocupado</td>
                    <td *ngIf="personInfo.state == 2" class="text-white bg-warning">Otro</td>
                  </tr>
                </tbody>
              </table>       
            </div>
            <h4 class="text-center">Tarea</h4>
            <table class="table table-bordered table-striped table-hover" >
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Fecha inicio</th>
                  <th>Fecha final</th>
                  <th>Tiempo</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="{'invisible': personInfo.id == ''}">
                  <td>{{ taskInfo.name }}</td>
                  <td>{{ taskInfo.description }}</td>
                  <td>{{ taskInfo.initDate | date:'short'}}</td>
                  <td>{{ taskInfo.finishDate | date:'short'}}</td>
                  <td>{{ taskInfo.workTime }}</td>
                  <td *ngIf="taskInfo.status == 0" class="text-white bg-warning">Por asignar</td>
                  <td *ngIf="taskInfo.status == 1" class="text-white bg-success">En curso</td>
                  <td *ngIf="taskInfo.status == 2" class="text-white bg-danger">Suspendida</td>
                  <td *ngIf="taskInfo.status == 3" class="text-white bg-primary">Finalizada</td>
                </tr>
              </tbody>
            </table> 
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="suspendTask(taskInfo)"  data-bs-dismiss="modal">Suspender</button>
          <button type="button" class="btn btn-primary" (click)="finalizeTask(taskInfo)" data-bs-dismiss="modal">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
</div>