<div>
    <div class="first flex-center" id="main">
        <div class="container text-center">
            <h1 id="main-text-one">MiTunes</h1>
        </div>
    </div>
</div>
<div class="second text-center" id="music">
    <br />
    <br />
    <h2>Música</h2>
    <h2>Más de 45 millones de canciones. Cero anuncios.</h2>
    <br />
    <p>
        Transmite más de 45 millones de canciones, sin anuncios. O descarga álbumes y canciones para escucharlas sin conexión. Toda la música de tu biblioteca personal de myTunes, independientemente de su procedencia, vive junto al catálogo de Orange Music. Empieza
        tu prueba gratuita de tres meses sin compromiso, y cancélala cuando quieras.
    </p>
    <br />
    <button type="button" class="btn btn-danger btn-lg">
    Inicia Tu Prueba Gratuita Ahora
  </button>
    <br />
    <br />
    <p>
        Orange Music está disponible en MiTunes y para dispositivos iOS y Android.
    </p>
    <br />
    <br />
    <div class="second-image">
        <img src="./../../../assets/second-image.png" class="img-fluid" />
    </div>
    <br />
    <br />
</div>
<div class="third text-center" id="video">
    <br />
    <br />
    <h2>La colección de cine y televisión que siempre deseaste. Concedido.</h2>
    <br />
    <p>
        Con más de 100.000 películas y programas de televisión entre los que elegir, siempre hay algo estupendo que ver en MiTunes y, si lo ves en Orange TV 4K, podrás disfrutar de una enorme selección de tus contenidos favoritos en 4K HDR. Así que prepárate
        para disfrutar de los episodios de tus programas de televisión favoritos o de las películas de éxito que estabas esperando ver, en cualquier momento y en cualquier lugar. Solo tienes que tocar para reproducir, o incluso descargar si vas a un lugar
        donde no tendrás Wi-Fi.
    </p>
    <br />
    <button type="button" class="btn btn-primary">Leer Más</button>
    <br />
    <br />
    <div class="third-image">
        <img src="./../../../assets/iTunes-on-a-MacBook.png" class="img-fluid" />
    </div>
    <br />
</div>
<footer class="page-footer">Copyright © 2022 MrYeibis MiTunes</footer>
<app-layout></app-layout>