
<div class="w-100 vh-100">
    
    <div class=" d-flex justify-content-center align-items-center h-100">
        <div class="col-8">
            <div class="row">
                <img src="../../assets/undraw_calculator_re_jy39 (1).svg" alt="" class="rounded mx-auto d-block" width="300" height="300">
            </div>
            <div class="row text-center">
                <h1 class="fw-bolder fs-1 text-white">CALCULATOR</h1>
                <h3 class="fw-bold fs-4 text-white">WELCOME</h3>
                <p class="fw-light fs-6 text-white">Joseph Rios Henao</p>
                <p class="text-center">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success btn-lg p-2 w-25">START</button>
                </p>
            </div>
        </div>
    </div>
    
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style="background-color: rgb(43, 43, 53);">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-6 menu-button">a</div>
                <div class="col-6 menu-button">s</div>

                <div class="col-6 menu-button">a</div>
                <div class="col-6 menu-button">s</div>

                <div class="col-6 menu-button">a</div>
                <div class="col-6 menu-button">s</div>

                <div class="col-6 menu-button">a</div>
                <div class="col-6 menu-button">s</div>

            </div>
        </div>

    </div>
    </div>
</div>
</div>